In [1]:
import pandas as pd 
import nfl_data_py as nfl

In [2]:
pbp_py = nfl.import_pbp_data([2021])

2021 done.
Downcasting floats.

In [5]:
filter_crit = 'play_type == "pass" & air_yards.notnull()'

pbp_py_p = (
pbp_py.query(filter_crit) .groupby(["passer_id", "passer"]) .agg({"air_yards": ["count", "mean"]})
)

pbp_py_p

                            air_yards
                                count       mean
passer_id  passer
00-0019596 T.Brady                808   7.941832
00-0022924 B.Roethlisberger       647   6.761978
00-0023459 A.Rodgers              556   7.730216
00-0023682 R.Fitzpatrick            6   1.500000
00-0024417 S.Koch                   1  10.000000
...                               ...        ...
00-0036946 K.Mond                   3   0.000000
00-0036971 T.Lawrence             598   7.913043
00-0036972 M.Jones                557   7.901257
00-0037012 T.Lance                 71   9.267606
00-0037013 Z.Wilson               382   7.565445

[119 rows x 2 columns]

In [7]:
pbp_py_p.columns = list(map("_".join, pbp_py_p.columns.values)) 
sort_crit = "air_yards_count > 100"
print(
    pbp_py_p.query(sort_crit).sort_values(by="air_yards_mean", 
                                        ascending=[False]).to_string()
)

                             air_yards_count  air_yards_mean
passer_id  passer
00-0035704 D.Lock                        110       10.154546
00-0029263 R.Wilson                      400        9.887500
00-0036945 J.Fields                      268        9.835821
00-0034796 L.Jackson                     378        9.341269
00-0036389 J.Hurts                       473        9.190275
00-0034855 B.Mayfield                    416        8.776443
00-0026498 M.Stafford                    740        8.508108
00-0031503 J.Winston                     161        8.322982
00-0029604 K.Cousins                     556        8.228417
00-0034857 J.Allen                       708        8.224576
00-0031280 D.Carr                        676        8.128698
00-0031237 T.Bridgewater                 426        8.037559
00-0019596 T.Brady                       808        7.941832
00-0035228 K.Murray                      515        7.941748
00-0036971 T.Lawrence                    598        7.913043
00-0036972 M.Jones                       557        7.901257
00-0033077 D.Prescott                    638        7.811912
00-0036442 J.Burrow                      659        7.745068
00-0023459 A.Rodgers                     556        7.730216
00-0031800 T.Heinicke                    491        7.692464
00-0035993 T.Huntley                     185        7.675676
00-0032950 C.Wentz                       516        7.641473
00-0029701 R.Tannehill                   554        7.606498
00-0037013 Z.Wilson                      382        7.565445
00-0036355 J.Herbert                     671        7.554397
00-0033119 J.Brissett                    224        7.549107
00-0033357 T.Hill                        132        7.439394
00-0028118 T.Taylor                      149        7.429530
00-0030520 M.Glennon                     164        7.378049
00-0035710 D.Jones                       360        7.344444
00-0036898 D.Mills                       392        7.318878
00-0031345 J.Garoppolo                   511        7.305284
00-0034869 S.Darnold                     405        7.259259
00-0026143 M.Ryan                        559        7.159213
00-0032156 T.Siemian                     187        7.133690
00-0036212 T.Tagovailoa                  387        7.103359
00-0033873 P.Mahomes                     780        7.075641
00-0027973 A.Dalton                      235        6.987234
00-0027939 C.Newton                      126        6.968254
00-0022924 B.Roethlisberger              647        6.761978
00-0033106 J.Goff                        489        6.441718
00-0034401 M.White                       132        5.886364